Package: com.exoticswingset.truthfuldock
Name: TruthfulDock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Depiction: https://exoticswingset.github.io/depictions/TruthfulDock.html
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
Version: 2.0
Installed-Size: 264
