Package: com.exoticswingset.truthfulfolders
Name: TruthfulFolders
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
Version: 1.1
Installed-Size: 264
