Package: com.exoticswingset.truthfulfolders
Name: TruthfulFolders
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Depiction: https://exoticswingset.github.io/depictions/TruthfulFolders.html
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
Version: 1.0
Installed-Size: 264
