Package: com.exoticswingset.stopastupidthief
Name: StopAStupidThief
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Depiction: https://exoticswingset.github.io/depictions/StopAStupidThief.html
Maintainer: ExoticSwingset
Author: ExoticSwingset
Section: Tweaks
Version: 1.1
Installed-Size: 200
